/lapr4-grupo-di-3/GeoReferenceService/target/
/lapr4-grupo-di-3/GeoReferenceService/nbproject/
/lapr4-grupo-di-3/Core/nbproject/
/lapr4-grupo-di-3/ExternalSystem/target/
/lapr4-grupo-di-3/target/
/lapr4-grupo-di-3/ExternalSystem/nbproject/